//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

// a:not(.button):not(.wp-block-button__link) {
a {
	color: $color-link;
	opacity: 1;
	text-decoration: none;
	transition: $transition-opacity;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:active {
		color: $color-link-hover;
		text-decoration: underline;
	} // &:hover, &:active

	&:focus {
		color: $color-link-focus;
	} //  &:focus
} // a
