//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.home {

	p {

		@include media($tablet-portrait) {
			font-size: rem(26);
			line-height: rem(38);
		}

		&.small {
			color: $color-gray-alt;
			font-size: rem(14);

			@include media($tablet-landscape) {
				font-size: rem(22);
			}
		} // &.small
	} // p

	.icon-wrapper {
		@include margin(0 auto);

		@include media($desktop) {
			@include margin(rem(40) null);
		}

		.wp-block-column {
			flex-basis: 0 !important; // override default.
			flex-grow: 1;

			img {
				height: auto;
				max-width: rem(60);

				@include media($tablet-portrait) {
					max-width: rem(109);
				}

			} // img

		} // .wp-block-column


		p {
			font-size: rem(14);

			@include media($tablet-landscape) {
				font-size: rem(22);
				line-height: rem(31);
			}
		} // p
	} // .icon-wrapper

	.wp-block-buttons {
		@include margin(rem(15) null);

		.wp-block-button {

			a {
				@include padding(rem(10) rem(50));

				border-radius: rem(8);
				text-decoration: none;
			}
		} // .wp-block-button

		@include media(null, $tablet-landscape - 1) {
			@include margin(rem(5) null);

			display: flex;
			justify-content: center;
		}

	} // .wp-block-buttons

	.hero {

		.wp-block-media-text__media {

			img {
				@include padding(rem(30));

				height: auto;
				width: 100%;

				@include media($tablet-portrait) {
					height: auto;
					padding: 0;
				}
			} // img

		} // .wp-block-media-text__media

		.wp-block-media-text__content {
			text-align: center;
		} // .wp-block-media-text__content


		@include media($tablet-portrait) {

			.wp-block-media-text__media {
				display: flex;
				justify-content: center;
			} // .wp-block-media-text__media

			.wp-block-media-text__content {
				padding-left: 0;
				text-align: left;
			} // .wp-block-media-text__content
		}
	} // .hero

	.projects {
		@include padding(rem(30) null 0);

		@include media($desktop) {
			@include padding(rem(120) null 0);
		}

		.wp-block-columns {
			@include padding(rem(30) null 0);

			justify-content: center;

			@include media($tablet-portrait) {

				.wp-block-column {
					flex-basis: 50% !important; // needed to override defaults.

					&:nth-child(2n) {
						margin-left: 0;
					} // &:nth-child(2n)
				} // .wp-block-column

			}

			@include media($tablet-landscape) {
				@include padding(rem(60) null 0);

				.wp-block-cover__inner-container {

					p {
						@include padding(null rem(60));
					} // p

				} // .wp-block-cover__inner-container
			}

		} // .wp-block-columns
	} // .projects

	.wp-block-cover {

		.content-wrapper {
			@include padding($space $space rem(20));

			text-align: center;

			@include media(null, $desktop) {
				margin-left: 0 !important;

				&.wp-block-column {
					flex-basis: auto !important;
				} // &.wp-block-column

				.wp-block-image {

					img {
						height: auto;
					}
				} // .wp-block-image
			}

			@include media($desktop) {
				@include margin(0 0 0 45%);
				@include padding(rem(100) 0);

				max-width: rem(800);
				text-align: left;
			}

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
				@include margin(0 0 0 45%);
				@include padding(rem(10) 0);
			} // iPad Pro Landscape.

		} // .content-wrapper

		&.rapidpass {
			background-position: 100px bottom;
			background-size: cover;

			@include media($desktop) {
				background-size: contain;

				&::before {
					opacity: 0 !important;
				} // &::before
			}

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

				background-position: left bottom;

			} // iPad Pro Landscape.

		} // &.rapidpass

		&.tracecovid {
			background-position: right bottom;
			background-size: cover;

			@include media($desktop) {
				background-size: contain;

				&::before {
					opacity: 0 !important;
				} // &::before
			}

			.content-wrapper {

				@include media($desktop) {
					margin-left: 10%;
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include margin(0);
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.

			} // .content-wrapper

		} // &.tracecovid

	} // .wp-block-cover

} // .home
